html{
  margin: auto;
  height: auto;
  
}

.container{
  /*font-family: 'Dancing Script', cursive;*/
  padding: 0.5em;
  margin: 0.5em;;
  width: 85%;

}

.wrapper {
  display: grid;
  grid-template-columns: 70% 42%;
  grid-gap: 1em;
}

.wrapper>div {
  background: #ddd;
  padding: 1em;
  /* margin-right: 0.5em; */
}

h1, a{
  font-family: 'Lobster', cursive;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: center;
    padding: 8px;
}

td {
  background: #ddd;
}

th {

    color: white;
}


tr:hover{background-color: silver}

input:required {
  box-shadow:none;
}
